@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User)) {
        <li class="nav-item">
            @if (User.IsInRole("Admin")) {
                <p><i>@User.Identity?.Name</i> | <strong>Administrador</strong></p>
            } else if (User.IsInRole("Professor")) {
                <p><i>@User.Identity?.Name</i> | <strong>Professor</strong></p>
            } else if (User.IsInRole("Enc. de Educação")) {
                <p><i>@User.Identity?.Name</i> | <strong>Encarregado de Educação</strong></p>
            } else {
                <strong>ERRO AO IDENTIFICAR O CARGO!</strong>
            }
            <form class="text-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                @*<button type="button" class="btn btn-outline-primary">Definições da conta</button>*@
                <button type="submit" class="btn btn-sm btn-outline-danger">Terminar sessão</button>
            </form>
        </li>

        @*<li class="nav-item">        
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @User.Identity?.Name!</a>
        </li>*@
    
@*        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-danger btn-sm">Terminar sessão</button>
            </form>
        </li>*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>
