@model Projeto_Jardim_Escola.Models.Turma

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que deseja eliminar este registo?</h3>
<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Ano letivo
            @*@Html.DisplayNameFor(model => model.AnoLetivo)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLetivo.NomeAnoLetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
