@model Projeto_Jardim_Escola.Models.Turma

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Ano letivo
            @*@Html.DisplayNameFor(model => model.AnoLetivo)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLetivo.AnoLetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>
    </dl>
</div>

<div>
    <h5>Lista de alunos da turma</h5>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome do Aluno
                </th>
                <th>
                    Identificação
                </th>
                <th>
                    Avaliação
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Alunos) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avaliacao)
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm btn-outline-light" asp-controller="Alunos" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-info btn-sm btn-outline-light" asp-controller="Alunos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        @*@if (User.IsInRole("Admin")) {
                            <a class="btn btn-danger btn-sm btn-outline-light" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        }*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @if (User.IsInRole("Admin")) {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <hr />
    }
    
    <a asp-action="Index">Voltar</a>
</div>
