@model IEnumerable<Projeto_Jardim_Escola.Models.Turmas>

@{
    ViewData["Title"] = "Turmas";
}

<h1>TURMAS</h1>

@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create">Adicionar registo</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Ano Letivo
                @*@Html.DisplayNameFor(model => model.AnoLetivo)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLetivo.AnoLetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Nome)
            </td>
            <td>
                @if (User.IsInRole("Admin")) {
                    <a class="btn btn-warning btn-sm btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                }
                <a class="btn btn-info btn-sm btn-outline-light" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                @if (User.IsInRole("Admin")) {
                    <a class="btn btn-danger btn-sm btn-outline-light" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
